#background{
    background-image: url('./images/fondo.png');
    background-repeat:no-repeat;
    background-size: 100%;
    background-position: center center;
    height: 100vh;
    width: 100%;
}
#form{
    
    height: 310px;
    width: 600px;
    padding-top: 200px;
}
#boton_login{
    width: 570px;
}
#imagen{
    width: 100px;
    opacity: 0.3;
    float: right;
}
#boton1{
    background-color: rgb(136, 136, 136);
    color: white;
}
