/* Vista para PC y algunas tablets */
@media (min-width: 769px) {
    h1 {
        font-size: 40px;
    }

    .col, .col-md, .nav, .footer, .change-page {
        font-size: 16px;
    }

    .icon {
        width: 42px;
        height: 38px;
    }

    .actions {
        display: flex;
    }
}

/* Vista para móviles */
@media (max-width: 768.99px){
    h1 {
        font-size: 20px;
    }

    .col, .col-md {
        font-size: 8px;
    }

    .actions {
        display: flex;
        align-items: center;
    }

    .icon {
        width: 21px;
        height: 19px;
        display: block;
        padding: 0px 0px 27px 0px;
    }

    .nav, .footer, .footer-button, .add-user-button {
        font-size: 10px;
    }

    .actions {
        display: block;
    }

    .icon-image {
        font-size: 12px;
    }
}

/* Elementos que no cambian independientemente de la resolución de la pantalla */
h1 {
    color: #0d6efd;
    margin: 20px 0px 20px 0px;
}

.col, .col-md {
    border: 1px rgb(212, 212, 212) solid;
    padding: 10px 10px 10px 10px;
}

.row:nth-of-type(even) {
    background-color: rgb(250, 250, 250);
}

.row:nth-of-type(odd) {
    background-color: rgb(233, 233, 233);
}

.title {
    font-weight: bold;
}

.nav, .footer {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
}

.change-page {
    display: flex;
}